# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
test-results/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# macOS
.DS_Store

# Docker
*.tar

# Editor directories and files
.idea/
.vscode/